body {
    background-color: white;
    color: black;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
}

.layout {
    background: red;
    width: 100%;
}

.sidebar {
    background: orange;
    width: 100%;
}